/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

.btn.btn-sm{
    max-height: 30px !important;
}

button.btn:hover{
    text-decoration: underline;
}