<app-header Title="Dashboard"></app-header>
<div class="container">
    <div class="row text-center pt-md-5">
        <div class="col-md col-sm-6 col-12 pt-md-0 pt-5">
            <button type="button" class="btn btn-primary btn-lg" [routerLink]="['../add-log']">
                Add Log
                <fa-icon class="pl-1" [icon]="faPlus"></fa-icon>
            </button>
        </div>
        <div class="col-md col-sm-6 col-12 pt-md-0 pt-5">
            <button type="button" class="btn btn-primary btn-lg" [routerLink]="['../summary']">
                Summary
                <fa-icon class="pl-1" [icon]="faTable"></fa-icon>
            </button>
        </div>
        <div class="col-md col-sm-6 col-12 pt-md-0 pt-5">
            <button type="button" class="btn btn-primary btn-lg" [routerLink]="['../overview']">
                Overview
                <fa-icon class="pl-1" [icon]="faChartLine"></fa-icon>
            </button>
        </div>
        <div class="col-md col-sm-6 col-12 pt-md-0 pt-5 my-auto">
            <button type="button" class="btn btn-sm btn-danger btn-lg" (click)="clearAllData()">
                Clear Data
                <fa-icon class="pl-1" [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
</div>
